{% extends "common/base.html" %}

{% load static %}

{% block extra_js %}
  <script src="/static/questions/js/add.js"></script>
{% endblock extra_js %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'questions/css/add.css' %}" />
{% endblock extra_css %}

{% block breadcrumb %}
  <a class="section" href="{% url 'exams:search' %}">Zestawy pytań</a>
  <span class="divider">/</span>
  <div class="active section">Dodaj zestaw</div>
{% endblock breadcrumb %}

{%block content%}
  <div class="ui segments">
    <div class="ui segment">
      <p>Wczytywanie danych o zestawie pytań z pliku .dbf</p>
      <form class="ui form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
          <label>Nazwa zestawu pytań</label>
          <input class="form_field" name="question_set">
        </div>
        <div class="field">
          <label>Wydział</label>
          <div class="form_field ui search selection dropdown" id="department">
            <input type="hidden" name="department"><i class="dropdown icon"></i>
            <div class="default text">Wybierz wydział</div>
            <div class="menu"></div>
          </div>
        </div>
        <div class="field">
          <label>Kurs</label>
          <div class="form_field ui search selection dropdown" id="course">
            <input type="hidden" name="course"><i class="dropdown icon"></i>
            <div class="default text">Wybierz kurs</div>
            <div class="menu"></div>
          </div>
        </div>
        <div class="field">
          <label>Plik dbf</label>
          <div class="form_field ui fluid action input">
            <input type="text" id="filename" readonly placeholder="Wybierz plik .dbf:">
            <input type="file" id="fileup" name='file'>
            <button type="submit" class="ui icon button">
              Upload <i class="cloud upload icon"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{%endblock content%}
