{% extends "common/base.html" %}

{% block content %}
  {% load semanticui %}
  <div class="ui one column stackable center aligned page grid">
  <div class="column eight wide">
    <div class=ui container>
      <h2>Logowanie</h2>
    <form method="post" class="ui form">
      <div class="ui field">
      {% csrf_token %}
      {% render_form form %}
      </div>
      <button type="submit" class="ui right floated basic blue button">Zaloguj się</button>
    </form>
    </div>
  </div>
  </div>
{% endblock content %}
