{% extends "common/base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'user_panel/css/panel.css' %}" />
{% endblock extra_css %}

{% block extra_js %}
  <script src="/static/user_panel/js/panel.js"></script>
{% endblock extra_js %}

{% block breadcrumb %}
  <a class="section">Ustawienia</a>
  <span class="divider">/</span>
  <div class="active section">Preferencje</div>
{% endblock breadcrumb %}

{%block content%}
  <div class="ui segments">
    <div class="ui segment">
      <p>Edycja detali użytkownika</p>
    </div>
    <div class="ui segment">
      <table class="ui very basic table selectable">
        <tbody>
          {% for field in form %}
            <tr>
              <td>{{field.label}}</td>
              <td class="text_display">{{field.value}}</td>
              <td>{{field}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{%endblock content%}
