{% extends "common/base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'exams/css/exam.css' %}" />
{% endblock extra_css %}

{% block extra_js %}
{% endblock extra_js %}

{% block breadcrumb %}
  <div class="section active">Egazamin</div>
{% endblock breadcrumb %}

{%block content%}
  <div class="ui segments">
    <div class="ui segment">
      <p>Dane</p>
    </div>
    <div class="ui segment">
      <table class="ui very basic table selectable">
        <tbody>
          <tr>
            <td>Imię</td>
            <td>{{student.first_name}}
          </tr>
          <tr>
            <td>Nazwisko</td>
            <td>{{student.last_name}}
          </tr>
          <tr>
            <td>Index</td>
            <td>{{student.index}}
          </tr>
          <tr>
            <td>Kurs</td>
            <td>{{student.course_group.course.name}}
          </tr>
          <tr>
            <td>Grupa</td>
            <td>{{student.course_group.name}}
          </tr>
        </tbody>
      </table>
    </div>
    {% if finished %}
      <div class="ui segment">
        <p>Egzamin zakończony</p>
      </div>
    {% else %}
      {% if questions %}
      <div class="ui segment">
        <p>Pytania</p>
      </div>
      <div class="ui segment">
            {% for question in questions %}
              <tr {% if question.answer %} class="positive" {% else %} class="negative" {% endif %}>
                <td>
                  <a href="{% url 'exams:exam_question' student.slug slug_exam forloop.counter %}">
                    <button  class="ui {% if question.answer %} positive {% else %} negative {% endif %} button question_btn">Pytanie {{forloop.counter}}</button>
                  </a>
                </td>
              </tr>
            {% endfor %}
      </div>
      <div class="ui segment">
        <p>Koniec egzaminu</p>
      </div>
      <div class="ui segment">
        <a href="{% url 'exams:student_exam_end' student.slug slug_exam %}">
          <button class="ui positive button">Zakończ test</button>
        </a>
      </div>
      {% else %}
      <div class="ui segment">
        <a href="{% url 'exams:student_exam_start' student.slug slug_exam %}">
          <button class="ui positive button">Zacznij test</button>
        </a>
      </div>
      {% endif %}
    {% endif %}
  </div>
{%endblock content%}
