body {
    margin: 0;
    /*padding: 2.5em 0 0 0 !important;*/
}

html, body {
    height:100%;
}

a { cursor: pointer; }

.main-body{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
}

.breadcrumb {
    padding-bottom: 25px;
}

.wrap-exam{
    height: auto;
    /*margin: 0 auto -140.86px;*/
    min-height: 100%;
    padding: 2.5em 0 0 0 !important;
}

.push-exam{
    /*height: 140.86px;*/
}
