<a class='popup_btn'>Edytuj</a>
<div class="ui popup transition hidden" data-position="left center">
  <div class="ui grid paddings">
    <div class="row">
      <div class="ui action input">
        <div class="ui calendar">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="{{ widget.type }}"  name="{{ widget.name }}" {% if widget.value != None %} value="{{ widget.value }}"{% endif %} autocomplete="off" class="no-border-right" {% include "django/forms/widgets/attrs.html" %}>
          </div>
        </div>
        <button class="ui teal right labeled icon button update_param">
        <i class="edit icon"></i>
        Zmień
        </button>
      </div>
    </div>
  </div>
</div>
