<a class='popup_btn'>Edytuj</a>
<div class="ui popup transition hidden" data-position="left center">
  <div class="ui grid paddings">
    <div class="row">
      <div class="ui action input">
        <input type="{{ widget.type }}" {% if widget.value != None %} value="{{ widget.value }}"{% endif %} name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
        <button class="ui teal right labeled icon button update_param">
        <i class="edit icon"></i>
        Zmień
        </button>
      </div>
    </div>
  </div>
</div>
