<a class='popup_btn'>Edytuj</a>
<div class="ui popup transition hidden" data-position="left center">
  <div class="ui grid paddings">
    <div class="row">
      <div class="ui action input">
        <div class="no-border-right ui search selection dropdown" id="{{widget.attrs.id}}">
          <input type="hidden" {% if widget.value != None %} value="{{ widget.value }}"{% endif %} name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}><i class="dropdown icon"></i>
          <div class="default text">Wybierz grupę kursu</div>
          <div class="menu"></div>
         </div>
        <button class="ui teal right labeled icon button update_param">
        <i class="edit icon"></i>
        Zmień
        </button>
      </div>
    </div>
  </div>
</div>
