{% extends "common/base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'libs/datatables.net-se/css/dataTables.semanticui.min.css' %}" />
{% endblock extra_css %}

{% block extra_js %}
  <script src="/static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/libs/datatables.net-se/js/dataTables.semanticui.min.js"></script>
  <script src="/static/exams/js/execution.js"></script>
{% endblock extra_js %}

{% block breadcrumb %}
  <a class="section" href="{% url 'exams:search' %}">Egazaminy</a>
  <span class="divider">/</span>
  <a class="section" href="{% url 'exams:edit_detail' exam.id %}">Edycja</a>
  <span class="divider">/</span>
  <div class="section active">Egzamin w trakcie: {{exam.name}}</div>
{% endblock breadcrumb %}

{%block content%}
  <script type="text/javascript">
    var exam_id = '{{exam.id}}';
    var exam_grades = JSON.parse('{{grades|safe}}');
    var max_points = '{{exam.question_count}}';
  </script>
  <div class="ui segments">
    <div class="ui segment">
      <table id="students" class="ui selectable striped celled table" cellspacing="0" width="100%"></table>
    </div>
    <div class="ui clearing segment">
      <a href="{% url 'exams:download' exam.id %}"><button class="ui right floated primary button">Raport CSV</button></a>
    </div>
  </div>
{%endblock content%}
