{% extends "common/base.html" %}

{% load static %}

{% block extra_js %}
  <script src="/static/libs/katex/dist/katex.min.js"></script>
  <script src="/static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/libs/datatables.net-se/js/dataTables.semanticui.min.js"></script>
  <script src="/static/questions/js/edit.js"></script>
{% endblock extra_js %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'questions/css/edit.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'libs/katex/dist/katex.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'libs/datatables.net-se/css/dataTables.semanticui.min.css' %}" />
{% endblock extra_css %}

{% block breadcrumb %}
  <a class="section" href="{% url 'exams:question_search' %}">Zestawy pytań</a>
  <span class="divider">/</span>
  <div class="active section">{{question_set.name}}</div>
{% endblock breadcrumb %}

{% block content %}
  <script type="text/javascript">
    var question_set = '{{question_set.id}}';
  </script>
  <div class="ui segments">
    <div class="ui segment">
      <table id="questions" class="ui selectable striped celled table" cellspacing="0" width="100%"></table>
    </div>
    <div class="ui segment">
      <button id="add_new" class="ui positive button">Dodaj pytanie</button>
    </div>
  </div>
  <div class="ui modal">
    <div class="header">Edycja pytania</div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label>Pytanie</label>
          <textarea id='description'></textarea>
        </div>
        <div class="field">
          <label>Typ</label>
          <div class="ui input">
            <input id='typ' type="text" placeholder="Typ...">
          </div>
        </div>
        <div class="field">
          <label>Grupa</label>
          <div class="ui input">
            <input id='group' type="text" placeholder="Grupa...">
          </div>
        </div>
        <div id="answers">
          <div class="field">
            <label>Odpowiedz 1</label>
            <div class="ui input">
              <div class="ui right action input">
                <input type="text" placeholder="Odpowiedź.. ">
                <div class="ui selection floating dropdown button score">
                  <input type="hidden" name="gender">
                  <i class="dropdown icon"></i>
                  <div class="default text">Liczba pkt</div>
                  <div class="menu">
                    <div class="item" data-value="1">1 pkt</div>
                    <div class="item" data-value="0">0 pkt</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input id='question_id' type="hidden">
      </div>
    </div>
    <div class="actions">
      <button id="add_choice" class="ui primary button">Dodaj odpowiedź</button>
      <button id="del_choice" class="ui negative button">Usuń odpowiedź</button>
      <button id="save_btn" class="ui positive button">Zapisz</button>
      <button id="delete_btn" class="ui negative button">Usuń</button>
    </div>
  </div>
{% endblock content %}
