{% extends "common/base.html" %}

{% load static %}

{%block content%}
  {% if user.is_authenticated %}
  <div class="ui segments">
    <div class="ui segment">
        <h1>Witaj {{user.first_name}} {{user.last_name}}</h1>
        <h2 class="ui header">Tutaj znajdziesz odpowiedzi na najczęstsze pytania.</h2>
        <div class="styled ui fluid accordion">
          <div class="title">
            <i class="dropdown icon"></i>
            Jak dodać nowy kurs?
          </div>
          <div class="content">
            Nowy kurs dodawany jest automatycznie przy wczytywaniu listy studentów z portalu Edukacja.pl.
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Gdzie znajdę wszystkie swoje kursy?
          </div>
          <div class="content">
            Wszystkie dostępne kursy znajdują się w zakładce Kursy i studenci / Przeglądaj kursy.
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Czym jest zestaw pytań?
          </div>
          <div class="content">
            Zestaw pytań to gotowy, przemieszany zbiór pytań i odpowiedzi uzyskany z programu Obsługi Testów.
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Czy mogę tworzyć egzaminy z wyprzedzeniem?
          </div>
          <div class="content">
            Oczywiście, w zakładce Egzaminy / Nowy egzamin możesz ustawić dowolną datę i godzinę rozpoczęcia egzaminu.
          </div>
        </div>
    </div>
  </div>
  {% else %}
  <div class="ui basic container">
    <div class="home_header" style="margin: 20px 0 50px 0;">
        <h1 class="ui blue header">Examplus</h1>
        <h2>Najlepsza aplikacja do przeprowadzania testów!</h2>
        </div>
        <div class="content">
          <h3>Witaj!</h3>
            <h4>Masz przed sobą prostą w obsłudze aplikację do testowania. Powstała z myślą by ułatwić Ci pracę.</h4>
        </div>
        <div class="actions">
      <h4>Nie zwlekaj,
             <a class="item" href="{% url 'login' %}">zaloguj się</a>
            już dziś i przekonaj się sam!</h4>
        </div>
        <div class="actions">
            <div class ="ui blue basic right floated large button">
                <a class="item" href="{% url 'login' %}">Zaloguj się</a>
            </div>
        </div>
    </div>
    {% endif %}

{%endblock content%}

{% block bottom_js %}
    <script type="text/javascript">
      $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
      });
      $('.ui.accordion').accordion();
    </script>
{% endblock bottom_js %}
