{% extends "common/base.html" %}

{% load static %}

{% block extra_js %}
  <script src="/static/exams/js/add.js"></script>
  <script src="/static/libs/semantic-ui-calendar/dist/calendar.min.js"></script>
{% endblock extra_js %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'exams/css/add.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'libs/semantic-ui-calendar/dist/calendar.min.css' %}" />
{% endblock extra_css %}

{% block breadcrumb %}
  <a class="section" href="{% url 'exams:search' %}">Egazaminy</a>
  <span class="divider">/</span>
  <div class="active section">Nowy egzamin</div>
{% endblock breadcrumb %}

{%block content%}
  <div class="ui segments">
    <div class="ui segment">
      <p>Formularz egzaminu</p>
      <form class="ui form" method="post">
        {% csrf_token %}
        <div class="field">
          <label>Nazwa egzaminu</label>
          <input name="name" placeholder="Wpisz nazwę egzaminu">
        </div>
        <div class="field">
          <label>Sala</label>
          <div class="ui input">
            <input name="class_room" placeholder="Sala...">
          </div>
        </div>
        <div class="field">
          <label>Data egzaminu</label>
          <div class="ui calendar" id="date_calendar">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Data i godzina egzaminu" name="start_date" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Kurs</label>
          <div class="ui search selection dropdown" id="course">
            <input type="hidden" name="course_group"><i class="dropdown icon"></i>
            <div class="default text">Wybierz grupe kursu</div>
            <div class="menu"></div>
          </div>
        </div>
        <div class="field">
          <label>Nazwa zestawu pytań</label>
          <div class="ui search selection dropdown" id="question_set">
            <input type="hidden" name="question_set"><i class="dropdown icon"></i>
            <div class="default text">Wybierz zestaw</div>
            <div class="menu"></div>
          </div>
        </div>
        <button type="submit" class="ui button">
          Dodaj
        </button>
      </form>
    </div>
  </div>
{%endblock content%}
