table tr td:first-child {
    padding-left: 5px !important;
}

a { cursor: pointer; }

.paddings{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.paddings-label{
    padding-left: 10px !important;
    padding-right: 30px !important;
}

.no-border-right{
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
