<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Exam-plus{% endblock %}</title>
    {% load static %}
    <script src="/static/libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/libs/semantic-ui/dist/semantic.min.js"></script>
    <script src="/static/common/js/base.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/semantic-ui/dist/semantic.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/base.css' %}" />

    {% block extra_js %}{% endblock extra_js %}
    {% block extra_css %}{% endblock extra_css %}
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    {% if user.is_authenticated %}
      <div class="ui sidebar vertical large left inverted menu">
        <div class="item">
          <a class="item" href="{% url 'exams:search' %}"><img src="/static/logo.png" alt="ExamPlus"></a>
        </div>
        <div class="item">
          <h4 class="ui inverted blue header">Kursy i studenci</h4>
          <div class="menu">
            <a class="item" href="{% url 'courses:add' %}">
              <i class="block add user icon"></i>
              Dodaj listę studentów
            </a>
            <a class="item" href="{% url 'courses:search' %}">
              <i class="block tasks icon"></i>
              Przeglądaj kursy
            </a>
          </div>
        </div>
        <div class="item">
          <h4 class="ui inverted blue header">Zestawy pytań</h4>
          <div class="menu">
            <a class="item" href="{% url 'exams:question_add' %}">
              <i class="block upload icon"></i>
              Dodaj zestaw
            </a>
            <a class="item" href="{% url 'exams:question_search' %}">
              <i class="block file text outline icon"></i>
              Przeglądaj zestawy
            </a>
          </div>
        </div>
        <div class="item">
          <h4 class="ui inverted blue header">Egzaminy</h4>
          <div class="menu">
            <a class="item" href="{% url 'exams:add' %}">
              <i class="block calendar icon"></i>
              Nowy egzamin
            </a>
            <a class="item" href="{% url 'exams:search' %}">
              <i class="block laptop icon"></i>
              Przeglądaj egzaminy
            </a>
          </div>
        </div>
        <div class="item">
          <h4 class="ui inverted blue header">Ustawienia</h4>
          <div class="menu">
            <a class="item" href="{% url 'user_panel:panel' %}">
              <i class="block setting icon"></i>
              Preferencje
            </a>
            <a class="item" href="{% url 'faq' %}">
              FAQ
            </a>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="pusher">
    <div class="wrap-exam">
      {% block nav %}
        {% if user.is_authenticated %}
          <div class="ui top fixed menu">
            <div class="item" id="toggle">
              <i class="sidebar icon"></i>
              Menu
            </div>
            <div class="right menu">
              <div class="item">
                <div class="ui transparent icon input">
                  <form action="{% url 'exams:search' %}" method="get">
                    <input name="search" type="text" placeholder="Szukaj egzaminu...">
                    <i class="search link icon"></i>
                  </form>
                </div>
              </div>
              <a class="item" href="{% url 'logout' %}">Wyloguj</a>
            </div>
          </div>
      {% endif %}
    {% endblock nav %}
      <div class="container main-body">
        {% block page_header %}{% endblock page_header %}
        {% block sidebar %}{% endblock sidebar %}
        {% if user.is_authenticated %}
          <div class="ui breadcrumb">
            {% block breadcrumb_home %}
              <a class="section" href="{% url 'exams:search' %}"><i class="home icon"></i></a>
              <span class="divider">/</span>
            {% endblock breadcrumb_home %}
            {% block breadcrumb %}
            {% endblock breadcrumb %}
          </div>
        {% endif %}
        {% block content %}{% endblock content %}
      </div>
    </div>
    </div>
    {% block bottom_js %}
    <script type="text/javascript">
      $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
      });
    </script>
    {% endblock bottom_js %}
  </body>
</html>
