{% extends "common/base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'exams/css/panel.css' %}" />
{% endblock extra_css %}

{% block extra_js %}
{% endblock extra_js %}

{% block breadcrumb %}
  <div class="section active">Panel Studenta</div>
{% endblock breadcrumb %}

{%block content%}
  <div class="ui segments">
    <div class="ui segment">
      Dane
    </div>
    <div class="ui segment">
      <table class="ui very basic table selectable">
        <tbody>
          <tr>
            <td>Imię</td>
            <td>{{student.first_name}}
          </tr>
          <tr>
            <td>Nazwisko</td>
            <td>{{student.last_name}}
          </tr>
          <tr>
            <td>Index</td>
            <td>{{student.index}}
          </tr>
          <tr>
            <td>Kurs</td>
            <td>{{student.course_group.course.name}}
          </tr>
          <tr>
            <td>Grupa</td>
            <td>{{student.course_group.name}}
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ui segment">
      <table class="ui very basic table selectable">
        <thead>
          <tr>
            <th>Egzamin</th>
            <th>Liczba pkt</th>
            <th>Ocena</th>
          </tr>
        </thead>
        <tbody>
          {% for exam in exams %}
            <tr>
              <td><a href="{% url 'exams:student_exam_panel' student.slug exam.slug %}">{{exam.name}}</a></td>
              <td>{{exam.points}}</td>
              <td>{{exam.student_grade}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{%endblock content%}
