{% extends "common/base.html" %}

{% load static %}

{% block extra_js %}
  <script src="/static/libs/katex/dist/katex.min.js"></script>
  <script src="/static/exams/js/question.js"></script>
{% endblock extra_js %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'libs/katex/dist/katex.min.css' %}" />
{% endblock extra_css %}

{% block breadcrumb %}
  <a class="section" href="{% url 'exams:student_exam_panel' student.slug slug_exam %}">Egazamin</a>
  <span class="divider">/</span>
  <div class="active section">{{nr}}</div>
{% endblock breadcrumb %}

{%block content%}
  <div class="ui segments">
    <div class="ui segment">
      <p class='math-render'>{{question.description}}</p>
    </div>
    <div class="ui segment">
      <div class="ui form">
        <div class="grouped fields">
          <label>Odpowiedzi</label>
          {% for choice, value in question.choices.items %}
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="answers" hash="{{choice}}" {% if selected == value.id %} checked="checked" {% endif %}>
                <label class='math-render'>{{value.answer}}</label>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="ui segment">
      {% if page.has_prev %}
        <a href="{% url 'exams:exam_question' student.slug slug_exam page.prev %}">
          <div class="ui primary button">Poprzednie</div>
        </a>
      {% else %}
        <div class="ui disabled primary button">Poprzednie</div>
      {% endif %}
      {% if page.has_next %}
        <a disabled href="{% url 'exams:exam_question' student.slug slug_exam page.next %}">
          <div class="ui primary button">Następne</div>
        </a>
      {% else %}
        <div class="ui disabled primary button">Następne</div>
      {% endif %}
      <a href="{% url 'exams:student_exam_panel' student.slug slug_exam %}">
        <div class="ui positive button">Pytania</div>
      </a>
    </div>
  </div>
{%endblock content%}
