{% extends "common/base.html" %}

{% load static %}

{% block extra_js %}
  <script src="/static/courses/js/add.js"></script>
{% endblock extra_js %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'courses/css/add.css' %}" />
{% endblock extra_css %}

{% block breadcrumb %}
  <a class="section" href="{% url 'courses:search' %}">Kursy</a>
  <span class="divider">/</span>
  <div class="active section">Dodaj</div>
{% endblock breadcrumb %}

{%block content%}
  <div class="ui segments">
    <div class="ui segment">
      <p>Wczytywanie danych o kursie z pliku .csv pobranego z edukacji</p>
      <form class="ui form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
          <label>Nazwa wydziału</label>
          <div class="form_field ui search selection dropdown" id="department">
            <input type="hidden" name="department"><i class="dropdown icon"></i>
            <div class="default text">Wybierz wydział</div>
            <div class="menu"></div>
          </div>
        </div>
        <div class="field">
          <label>Plik csv</label>
          <div class="form_field ui input">
            <input type="text" id="filename" readonly placeholder="Wybierz plik .csv:">
            <input type="file" id="fileup" name='file'>
          </div>
        </div>
        <button type="submit" class="ui button">
          Zapisz
        </button>
      </form>
    </div>
    <div class="ui segment">
      <p>Formularz kursu</p>
      <form class="ui form" method="post">
        {% csrf_token %}
        <div class="field">
          <label>Nazwa kursu</label>
          <div class="form_field ui search selection dropdown" id="course">
            <input type="hidden" name="course"><i class="dropdown icon"></i>
            <div class="default text">Wybierz kurs</div>
            <div class="menu"></div>
          </div>
        </div>
        <div class="field">
          <label>Nazwa grupy kursu</label>
          <input type="text" name="course_group_name" class="form_field ui input" placeholder="Wpisz nazwę grupy kursu">
        </div>
        <button class="ui button">
          Zapisz
        </button>
      </form>
    </div>
  </div>
{%endblock content%}
