{% extends "common/base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'libs/datatables.net-se/css/dataTables.semanticui.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'libs/semantic-ui-calendar/dist/calendar.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'exams/css/edit-detail.css' %}" />
{% endblock extra_css %}

{% block extra_js %}
  <script src="/static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/libs/datatables.net-se/js/dataTables.semanticui.min.js"></script>
  <script src="/static/libs/semantic-ui-calendar/dist/calendar.min.js"></script>
  <script src="/static/exams/js/edit-detail.js"></script>
{% endblock extra_js %}

{% block breadcrumb %}
  <a class="section" href="{% url 'exams:search' %}">Egazaminy</a>
  <span class="divider">/</span>
  <div class="section active">{{exam.name}}</div>
{% endblock breadcrumb %}

{%block content%}
  <script type="text/javascript">
    var exam_id = '{{exam.id}}';
  </script>
  <div class="ui segments">
    <div class="ui segment">
      <p>Edycja egzaminu {{exam.name}}</p>
    </div>
    <div class="ui segment">
      <table class="ui very basic table selectable">
        <tbody>
          {% for field in form %}
            <tr>
              <td>{{field.label}}</td>
              <td class="text_display">{{field.value}}</td>
              <td>{{field}}</td>
            </tr>
          {% endfor %}
          <tr>
            <td>Skala ocen</td>
            <td class="text_display">{% for grade, score in grades %}{{grade}}: {{score}}%{% if not forloop.last %} | {% endif %}{% endfor %}</td>
            <td>
              <a class='popup_btn'>Edytuj</a>
              <div class="ui popup transition hidden" data-position="left center">
                <div class="ui grid paddings-label">
                  {% for grade, score in grades %}
                    <div class="row">
                      <div class="ui action input">
                        <input type="text" placeholder="Wynik w %" name="grade_{{grade}}" value="{{score}}">
                        <button class="ui teal right labeled icon button update_param">
                        <i class="edit icon"></i>
                          Ocena {{grade}}
                        </button>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ui segment">
      <p>Zapisani studenci</p>
    </div>
    <div class="ui segment">
      <table id="students" class="ui selectable striped celled table" cellspacing="0" width="100%"></table>
    </div>
    <div class="ui segment">
      <p>Dodaj studentów</p>
      <div class="form_field ui search selection dropdown" id="students_dropdown">
        <input type="hidden" name="student"><i class="dropdown icon"></i>
        <div class="default text">Wybierz Studenta</div>
        <div class="menu"></div>
      </div>
      <button id='add_student_single' class="ui button">
        Dodaj wybranego
      </button>
      <button id='add_student_all' class="ui button update_btn">
        Dodaj wszystkich
      </button>
      <button id='add_student_re' class="ui button update_btn">
        Dodaj powtórkowe
      </button>
    </div>
    <div class="ui clearing segment">
      <a href="{% url 'exams:download' exam.id %}"><button class="ui right floated primary button">Raport CSV</button></a>
      <button id='delete_exam' class="ui right floated negative button">Usuń egzamin</button>
      <button id='send_links' class="ui right floated button" {% if not email_button %}disabled{% endif %}>Wyślij linki</button>
      <a href="{% url 'exams:start_exam_panel' exam.id %}"><button class="ui right floated positive button update_btn">{% if exam.can_start %}Panel egzaminu{% else %}Panel startu egzaminu{% endif %}</button></a>
      <button id='generate' class="ui right floated positive button update_btn">Generuj egzaminy</button>
    </div>
  </div>
  <div id="delete_student_modal" class="ui small modal">
    <div class="header">Usunięcie studenta z egzaminu</div>
    <div class="content">
      <span>Czy napewno chcesz usunąć</span>
      <span id='student_name'></span>
      <span>z kursu?</span>
    </div>
    <div class="actions">
      <div id='remove_student' class="ui positive button update_btn">Usuń</div>
      <div class="ui negative button">Zostaw</div>
    </div>
  </div>
  <div id="delete_exam_modal" class="ui small modal">
    <div class="header">Usuwanie egzaminu</div>
    <div class="content">
      <p>Czy napewno chcesz usunąć egzamin?</p>
    </div>
    <div class="actions">
      <a href="{% url 'exams:delete' exam.id %}">
        <div class="ui positive button">Usuń</div>
      </a>
      <div class="ui negative button">Zostaw</div>
    </div>
  </div>
{%endblock content%}
