{% extends "common/base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'courses/css/edit-detail.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'libs/datatables.net-se/css/dataTables.semanticui.min.css' %}" />
{% endblock extra_css %}

{% block extra_js %}
  <script src="/static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/libs/datatables.net-se/js/dataTables.semanticui.min.js"></script>
  <script src="/static/courses/js/edit-detail.js"></script>
{% endblock extra_js %}

{% block breadcrumb %}
    <a class="section" href="{% url 'courses:search' %}">Kursy</a>
    <span class="divider">/</span>
    <div class="active section">{{course_group.name}}</div>
{% endblock breadcrumb %}

{%block content%}
  <script type="text/javascript">
    var course_id = '{{course_group.id}}';
  </script>
  <div class="ui segments">
    <div class="ui segment">
      <p>Edycja Grupy {{course_group.name}}</p>
    </div>
    <div class="ui segment">
      <table class="ui very basic table selectable">
        <tbody>
          {% for field in form %}
            <tr>
              <td>{{field.label}}</td>
              <td class="text_display">{{field.value}}</td>
              <td>{{field}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="ui segment">
      <p>Zapisani Studenci</p>
    </div>
    <div class="ui segment">
      <table id="students" class="ui selectable striped celled table" cellspacing="0" width="100%"></table>
    </div>
    <div class="ui segment" >
      <p>Dodaj studenta</p>
      <form>
        <div class="ui input">
          <input type="text" class="form_field" name="first_name" placeholder="Imię">
        </div>
        <div class="ui input">
          <input type="text" class="form_field" name="last_name" placeholder="Nazwisko">
        </div>
        <div class="ui input">
          <input type="text" class="form_field" name="index" placeholder="Index">
        </div>
        <button type="button" id='add_student' class="ui button">
          Dodaj
        </button>
      </form>
    </div>
    <div class="ui clearing segment">
      <button id="delete_btn" class="ui right floated negative button">Usuń kurs</button>
      <button class="ui right floated positive button">Przeładuj z pliku csv</button>
    </div>
  </div>
  <div id="delete_student_modal" class="ui small modal">
    <div class="header">Blokowanie studenta</div>
    <div class="content">
      <span>Czy napewno chcesz zablokować</span>
      <span id='student_name'></span>
      <span>?</span>
    </div>
    <div class="actions">
      <div id='block_student' class="ui negative button">Blokuj</div>
      <div id='unblock_student' class="ui positive button">Odblokuj</div>
    </div>
  </div>
  <div id="delete_course_modal" class="ui small modal">
    <div class="header">Usuwanie kursu</div>
    <div class="content">
      <p>Czy napewno chcesz usunąć kurs?</p>
    </div>
    <div class="actions">
      <a href="{% url 'courses:delete' course_group.id %}">
        <div class="ui positive button">Usuń</div>
      </a>
      <div class="ui negative button">Zostaw</div>
    </div>
  </div>
{% endblock content %}
