{% extends "common/base.html" %}

{% load static %}

{% block extra_js %}
  <script src="/static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/libs/datatables.net-se/js/dataTables.semanticui.min.js"></script>
  <script src="/static/exams/js/search.js"></script>
{% endblock extra_js %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'exams/css/search.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'libs/datatables.net-se/css/dataTables.semanticui.min.css' %}" />
{% endblock extra_css %}

{% block breadcrumb %}
  <div class="active section">Egazaminy</div>
{% endblock breadcrumb %}

{%block content%}
  <div class="ui segment active">
    <table id="exams" class="ui selectable striped celled table" cellspacing="0" width="100%"></table>
  </div>
{%endblock content%}
